html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.map-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.next-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    display: block;
    background: red;
    border-radius: 10px;
    z-index: 3;
}
